body{
    background-image: linear-gradient(rgb(64, 64, 94),rgb(34, 33, 33), black);

}
#logo{
    height: 50px;
}
.gomb{
    color: white;
}
.gomb:hover{
    color:rgb(26, 176, 196);
}
.navbar{
    overflow: hidden;
    top: 0;
    width: 100%;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.navwhite{
    background-color: rgb(20, 18, 18);
}
.textcard{
    margin-top: 100px;
    border: 1px solid white;
    height: 500px;

}
.textcard1{
    margin-top: 150px;
    border: 1px solid white;
    height: 500px;

}
.textcard2{
    margin-top: 100px;
    border: 1px solid white;
    height: 700px;

}
.minitextcard{
    border: 1px solid white;
    height: 160px;
    flex-grow: 1;
}
.textcard3{
    border: 1px solid white;
    height: 540px;
    flex-grow: 1;
}
.textcard4{
    margin-top: 100px;
    border: 1px solid white;
    height: 600px;
}
.textcard5{
    margin-top: 100px;
    border: 1px solid white;
    height: 10000px
}    
.textcard6{
    
    border: 1px solid white;
    height: 100px;
}
.textcard7{
    
    border: 1px solid white;
    height: 400px;
}    

.alkalmazott{
    text-align: right;
    color: white;
    
}
.rolunk{
    color: white;
}
@keyframes color-change{
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
} 
.kep{
    margin-top: 100px;
    height: 500px;
}
h1{
    text-align: center;
}
.bio{
    text-align: left;
}
* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
form {
    background-color: rgba(red, green, blue, 1);
    width: 250px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0,5px solid blue;
  }
  input {
    all: unset;
    font: 16px system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }
  button{
    background: #000000;
}
.border-glow {
    border: 1px solid rgba(0, 0, 0, 1);
    animation: 5s infinite glow;
  }
  @keyframes glow {
    0% {
      border-color: rgba(0, 0, 0, 1);
    }
    25% {
      border-color: rgb(0, 195, 255)
    }
    25% {
      border-color: rgba(0, 0, 0, 1);
    }
    25% {
      border-color: rgb(0, 195, 255)
    }
  }
.hirlevel{
    color: white;
}
  