body{
    background-image: linear-gradient(rgb(64, 64, 94),rgb(34, 33, 33), black);

}
#logo{
    height: 50px;
}
.gomb{
    color: white;
}
.gomb:hover{
    color:rgb(26, 176, 196);
}
.navbar{
    overflow: hidden;
    top: 0;
    width: 100%;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.navwhite{
    background-color: rgb(20, 18, 18);
}
.textcard{
    margin-top: 100px;
    border: 1px solid white;
    height: 500px;

}
.textcard1{
    margin-top: 150px;
    border: 1px solid white;
    height: 500px;

}
.textcard2{
    margin-top: 100px;
    border: 1px solid white;
    height: 700px;

}
.minitextcard{
    border: 1px solid white;
    height: 160px;
    flex-grow: 1;
}
.textcard3{
    border: 1px solid white;
    height: 540px;
    flex-grow: 1;
}
.textcard4{
    margin-top: 100px;
    border: 1px solid white;
    height: 600px;
}
.textcard5{
    margin-top: 100px;
    border: 1px solid white;
    height: 10000px;
}
.alkalmazott{
    text-align: right;
    
}
.rolunk{
    color: white;
}
@keyframes color-change{
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
} 
.kep{
    margin-top: 100px;
    height: 500px;
}

